.navbar{
    background: #6c858136;
}
.nav-link,
.navbar-brand{
    color:rgb(20, 4, 4);
    cursor: pointer;
    font-family: sans-serif;
}
.nav-link:hover{
    color: black;
}
.navbar-collapse{
    justify-content: flex-end;
}
.nav-link{
    margin-right: 1em;
}
.header{
    background-image: url(images1.jpg);
    background-size: cover;
    background-position: cover;
    position: relative;
}
.overlay{
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    left:0;
    top:0;
    background:rgba(0,0,0,0.6);

}
.description h1{
    color: #fff;
   
  }

  .description p{
    color: #fff;
    font-size: 15px;
    line-height: 1.5;
  }

  .description {
    left: 50%;
    top: 45%;
    position: absolute;
    text-align: center;
    transform: translate(-50%, -55%);
  }
  .features {
    padding: 1em;
    position: relative;
    margin: 4em auto;
  }

  .features-title {
    color: #8b0fa3;
    margin-bottom: 20px;
  }
  .pagination{
    margin:20px;
    position: relative;

  }
  